{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "printWidth": 80,
  "plugins": [
    "@shopify/prettier-plugin-liquid",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "attributeGroups": ["^class$", "^(id|name)$", "$DEFAULT", "^aria-"],
  "overrides": [
    {
      "files": "*.liquid",
      "options": {
        "printWidth": 120,
        "singleQuote": false,
        "liquidSingleQuote": true,
        "indentSchema": true,
        "singleLineLinkTags": true,
        "bracketSameLine": false,
        "parser": "liquid-html",
        "htmlWhitespaceSensitivity": "strict"
      }
    }
  ]
}
