{% liquid
  assign section_id = section.id

  assign padding_top_mobile = section.settings.padding_top_mobile
  assign padding_bottom_mobile = section.settings.padding_bottom_mobile
  assign padding_top_desktop = section.settings.padding_top_desktop
  assign padding_bottom_desktop = section.settings.padding_bottom_desktop
%}

{% render 'offset',
  id: section_id,
  padding_top_mobile: padding_top_mobile,
  padding_bottom_mobile: padding_bottom_mobile,
  padding_top_desktop: padding_top_desktop,
  padding_bottom_desktop: padding_bottom_desktop
%}

<section id="section-{{ section_id }}">
  <div class="container">
    <div class="grid gap-10 xl:grid-cols-[61%_1fr] xl:gap-20">
      {% for block in section.blocks %}
        {% if block.type == 'location' %}
          {% liquid
            assign image_desktop = block.settings.image_desktop
            assign image_mobile = block.settings.image_mobile
            assign title = block.settings.title
          %}
          <div>
            {% if image_mobile != blank %}
              {% render 'picture', image_desktop: image_desktop, image_mobile: image_mobile , class: 'w-full' %}
            {% endif %}
            {% if title != blank %}
              <div class="text-sm text-police-blue-70 leading-none mt-4">{{ title }}</div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Locations",
    "settings": [
      {
        "type": "header",
        "content": "Paddings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding Top Mobile (px)",
        "info": "Until 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding Bottom Mobile (px)",
        "info": "Until 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_top_desktop",
        "label": "Padding Top Desktop (px)",
        "info": "From 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom_desktop",
        "label": "Padding Bottom Desktop (px)",
        "info": "From 768px",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "location",
        "name": "Location",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image Mobile"
          },
          {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "Image Desktop"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Locations"
      }
    ]
  }
{% endschema %}
