{% liquid
  assign section_id = section.id

  assign padding_top_mobile = section.settings.padding_top_mobile
  assign padding_bottom_mobile = section.settings.padding_bottom_mobile
  assign padding_top_desktop = section.settings.padding_top_desktop
  assign padding_bottom_desktop = section.settings.padding_bottom_desktop

  assign image_mobile = section.settings.image_mobile
  assign image_desktop = section.settings.image_desktop
  assign title = section.settings.title
  assign subtitle = section.settings.subtitle
%}

{% render 'offset',
  id: section_id,
  padding_top_mobile: padding_top_mobile,
  padding_bottom_mobile: padding_bottom_mobile,
  padding_top_desktop: padding_top_desktop,
  padding_bottom_desktop: padding_bottom_desktop
%}
{% if image_desktop and image_mobile %}
  <section id="section-{{ section_id }}" class="w-full px-4 py-4">
    <div class="relative mx-auto max-w-480">
      <div class="h-75">
        <div class="absolute left-0 top-0 z-0 h-full w-full">
          {% render 'picture',
            image_mobile: image_mobile,
            image_desktop: image_desktop,
            is_full_size: true,
            class: 'w-full h-full object-cover rounded-3xl'
          %}
          <div class="absolute inset-0 bg-gradient-to-t from-[#001729cc] to-[#00172900] rounded-3xl"></div>
        </div>
        <div
          class="relative z-10 flex h-full flex-col items-center justify-end pb-12.5 text-center text-white md:justify-center md:pb-0"
        >
          <h1 class="mb-2 text-40 font-medium tracking-tight md:mb-3 xl:text-64">{{ title }}</h1>
          <div class="max-w-50  md:max-w-full">{{ subtitle }}</div>
        </div>
      </div>
    </div>
  </section>

  {% style %}
    #MainContent {
      position: relative;
    }
    .breadcrumbs {
      position: absolute;
      z-index: 11;
    }
    .breadcrumb-link {
      color: #fff;
    }

    .breadcrumbs-item:last-child,
    .breadcrumbs-item:last-child span {
      color: rgba(244, 249, 252, 0.5);
    }

    .breadcrumb-current {
      color: rgba(244, 249, 252, 0.5);
    }
  {% endstyle %}
{% else if collection.title != blank %}
  <h1 class="section-title text-center xl:leading-14 mx-auto mb-2 px-7.5 text-32 font-medium leading-10 xl:mb-3 xl:px-0 xl:text-5xl">
    {{- collection.title -}}
  </h1>
{% endif %}

{% schema %}
  {
    "name": "Page Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile Image"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Desktop Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "header",
        "content": "Paddings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding Top Mobile (px)",
        "info": "Until 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding Bottom Mobile (px)",
        "info": "Until 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_top_desktop",
        "label": "Padding Top Desktop (px)",
        "info": "From 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom_desktop",
        "label": "Padding Bottom Desktop (px)",
        "info": "From 768px",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Page Banner"
      }
    ]
  }
{% endschema %}
