{% liquid
  assign section_id = section.id

  assign padding_top_mobile = section.settings.padding_top_mobile
  assign padding_bottom_mobile = section.settings.padding_bottom_mobile
  assign padding_top_desktop = section.settings.padding_top_desktop
  assign padding_bottom_desktop = section.settings.padding_bottom_desktop
  assign cta_text = section.settings.cta_text
  assign cta_url = section.settings.cta_url
  
  assign cta_position = section.settings.cta_position
%}

{% render 'offset',
  id: section_id,
  padding_top_mobile: padding_top_mobile,
  padding_bottom_mobile: padding_bottom_mobile,
  padding_top_desktop: padding_top_desktop,
  padding_bottom_desktop: padding_bottom_desktop
%}

<section id="section-{{ section_id }}">
  <div class="container">
    <div class="relative">
      <div class="cta-wrapper relative w-full max-w-7xl h-[40vh] overflow-hidden rounded-3xl bg-gray-900 shadow-xl">
        <img 
          src="https://lifesync.com/cdn/shop/files/cta-bg-ls-sales.webp" 
          alt="Background" 
          class="absolute inset-0 w-full h-full object-cover opacity-60"
        />
        
        <!-- Content Overlay -->
        <div class="relative h-full flex flex-col items-center justify-center text-center px-6">
          <h2 class="section-title text-white 3xl:text-48 lg:text-42 text-32 font-medium mb-3.25 mx-auto xl:leading-14 leading-10 max-w-md">
            Talk to a LifeSync Patient Connections Expert
          </h2>

          {% if cta_text != blank and cta_url != blank %}
            <a class="relative z-10 flex items-center justify-center gap-2 px-10 py-4 mt-4 bg-police-accent text-center text-sm font-bold text-white transition duration-100 hover:scale-102 active:scale-100 disabled:opacity-20 lg:max-w-max rounded-3xl" href="{{cta_url}}">{{ cta_text }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>  
</section>
<style>
  .cta-wrapper {
    padding-top: 150px;
    padding-bottom: 150px;
  }
</style>
{% schema %}
  {
    "name": "CTA",
    "settings": [
      {
        "type": "select",
        "id": "cta_position",
        "label": "CTA position",
        "options": [
          {
            "value": "cta_left",
            "label": "Left"
          },
          {
            "value": "cta_center",
            "label": "Center"
          },
          {
            "value": "cta_right",
            "label": "Right"
          }
        ],
        "default": "cta_center"
      },
      {
        "type": "text",
        "id": "section_subtitle",
        "label": "Section Subtitle"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title"
      },
      {
        "type": "textarea",
        "id": "section_description",
        "label": "Section Description"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Image Background"
      },
      {
        "type": "header",
        "content": "Paddings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding Top Mobile (px)",
        "info": "Until 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding Bottom Mobile (px)",
        "info": "Until 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_top_desktop",
        "label": "Padding Top Desktop (px)",
        "info": "From 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom_desktop",
        "label": "Padding Bottom Desktop (px)",
        "info": "From 768px",
        "default": 0
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Button Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA Button URL"
      }
    ],
    "presets": [
      {
        "name": "CTA"
      }
    ]
  }
{% endschema %}
